<!DOCTYPE html>
<html lang='en'>
 <head>
  <meta charset='utf-8'>
  <title>{$lang.page_title}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <meta name='apple-mobile-web-app-capable' content='yes'>
  <link href='views/html/css/united.css' rel='stylesheet'>
  {if="count($core_files.css) >= 1"}
   {loop="$core_files.css"}
    <link href='views/html/css/{$value}.css' rel='stylesheet' type='text/css'>
   {/loop}
  {/if}
 </head>
 <body>
  <div class='container'>